.date {
  color: #333333;

}

.message {
  color: #333333;
  font-family: "Lora";
  padding: .5em;
  font-style: italic;
  font-size: 1em;
  font-weight: 500;
}

.message__container {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
