.input {
  border-radius: 5px;
  box-sizing: border-box;
  padding: .4em;
  border: 3px solid #0061ff;
  outline: none;
  font-size: 1em;
  margin: 1.8em .3em;
  text-align: center;
  font-family: "P22BayerW00-Universal";
  color: #222;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  caret-color: transparent;
}

.input::placeholder {
  color: #222;
}

.nice-dates-popover {
  margin: 0 auto;
  position: relative;
  margin-bottom: 1.5em;
}

.nice-dates-day {
  border: 1px solid black;
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  border-top-width: calc(1px * var(--tw-divide-x-reverse));
  border-bottom-width: calc(1px * var(--tw-divide-x-reverse));
}

.nice-dates-day.-no-border {
  border: none;
}

.nice-dates-day.-today .nice-dates-day_date{
  color: black;
  font-size: 1.3em;
}

.nice-dates-day.-selected .nice-dates-day_date {
  color: #222;

}

.nice-dates-day_date {
  color: #222;
  font-family: "P22BayerW00-Universal";
  font-size: 1.2em;
}

.nice-dates-day_month {
  font-family: "P22BayerW00-Universal";
  font-size: 1em;
  padding-bottom: .3em;
}

.nice-dates-day.-disabled.-outside::before,
.nice-dates-day.-disabled .nice-dates-day_date{
  color: #ddd;
}
.nice-dates-day:before {
  background-color: transparent;
  border: 3px solid red;
  border-radius: 2px;

}

.nice-dates-day.-selected.-selected-middle::before {
  border-left: none;
  border-right: none;
}

.nice-dates-day.-selected.-selected-start::before {
  border-right: none;
}

.nice-dates-day.-selected.-selected-end::before {
  border-left: none;
}

.nice-dates-week-header_day {
  font-family: "P22BayerW00-Universal";
  font-size: 1.4em;
}

.nice-dates-navigation_current {
  font-family: "P22BayerW00-Universal";
  font-size: 2.5em;
  color: #222;
}

.title__lesson {
  font-size: 2.7em;
  padding: .5em;
}
