/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {font-family: "P22BayerW00-Universal"; src: url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.eot"); src: url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.woff") format("woff"), url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/d0f7e2785d2e904fdf7e908335617db2.svg#P22BayerW00-Universal") format("svg");
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
ul,
div,
span,
input,
textarea,
body,
select,
header,
nav {
  color: #0061ff;
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

body {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 13em;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 100%;
	min-height: 100%;
	position: absolute;
  align-items: center;
  background-image: linear-gradient(
    #0061ff 10em,
    #42ffdc 25em
    );
}

.btn__primary {
  margin: 0 1em;
  outline: none;
  background-color: #0061FF;
  font-family: "P22BayerW00-Universal";
  color: #42ffdc;
  font-size: 2em;
  padding: .1em .3em;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.btn__primary:hover {
  background-color: #0051d4;
}

.btn__secondary {
  margin: 0 1em;
  outline: none;
  background-color: transparent;
  font-family: "P22BayerW00-Universal";
  color: #0061FF;
  font-size: 2em;
  padding: .1em .3em;
  box-sizing: border-box;
  border: 3px double #0061ff;
  border-radius: 8px;
  cursor: pointer;
}

.btn__secondary:hover{
  border: 3px solid ;
}

.file-input {
  width: 100%;
  box-sizing: border-box;
  margin: .3em 0;
  background-color: transparent;
  border: 3px solid #0061FF;
  font-size: 1em;
  border-radius: 5px;
  padding: .3em;
  outline: none;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2em;
  align-items: flex-start;
  justify-content: center;
  font-family: "Rubik";
  width: 500px;
  margin-top: 1.5em;
  background-color: rgb(66, 255, 220, .5);
  border-radius: 20px;
}

.form__div {
  box-sizing: border-box;
  margin: .3em 0;
  width: 100%;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.form__errors {
  box-sizing: border-box;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  margin: .3em 0;
  background-color: transparent;
  border: 3px solid #0061FF;
  font-size: 1em;
  border-radius: 5px;
  padding: .4em .3em;
  outline: none;
}

.form__input:focus {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 3px #0061ff;
}

.form__title {
  font-family: "P22BayerW00-Universal";
  font-size: 3.5em;
  margin: 0 0 .2em;
  color: #0061FF;
  font-weight: 400;
}

html {
  margin-left: calc(100vw - 100%);
  overflow-y: overlay;
  overflow-x: hidden;
}

input::-webkit-file-upload-button {
  margin-right: .5em;
  outline: none;
  border: none;
  background-color: #0061FF;
  color: #42ffdc;
  font-size: 1em;
  padding: .2em .3em;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
}

input::-webkit-file-upload-button:hover {
  background-color: #0051d4;
}


::placeholder {
  color: #3f81eb;
}

.vertical-center {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0061ff;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}
