.green {
  color: green;
}


.log__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: .7em .3em;
  font-size: 1.2em;
  padding: .2em 1em;
  border-radius: 5px;
}

.log__container:hover {
  background-color: #c7fff4;
}

.log__container--date {
  font-weight: 600;
  color: #333333;
}

.log__container--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.log__container--modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.log__container--practiced {
  color: #333333;
}

.red {
  color: red;
}

@media screen and (max-width: 525px) {
  .log__container {
    padding: .2em;
  }
}

@media screen and (max-width: 412px) {
  .log__container--info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .log__container--modal {
    justify-self: center;
    width: 100%;
  }
  .btn__tertiary {
    padding: .3em .9em;
  }
}
