.dashboard_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 0 5em;
}

.lesson-info {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 1.2em 0 0 8em;
  width: 55%;
  background-color: rgb(66, 255, 220, .5);
  border-radius: 20px;
  padding: 2em;
}

.lesson-info__assignment {
  margin-bottom: 2.2em;
  width: 100%;
}

.lesson-info__link {
  color: #333;
  font-weight: 400;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.user-info__name {
  text-align: center;
  margin-bottom: 1em;
  font-family: "P22BayerW00-Universal";
  font-size: 2.3em;
  font-weight: 400;
  /* border-bottom: 8px double #0061ff;
  box-sizing: border-box; */
}

.user-info__pic {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 1em;
  max-width: 100%;
  margin: 0 auto;
}

.user-info__pic--img {
  border-radius: 50%;
  border: 1px solid #333333;
  width: 12em;
  height: 12em;
  /* width: 70%; */
  object-fit: cover;
}

.title {
  padding-bottom: .6em;
}
