
.dashboard_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  margin-bottom: 2em;
  padding: 0 5em;
}

.graph {
  width: 60%;
}

.lesson-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin: 0 2em;
  width: 50%;
  background-color: rgb(66, 255, 220, .5);
  border-radius: 20px;
  padding: 2em;
  flex-wrap: wrap;
}

.lesson-info__assignment {
  margin-bottom: 2.2em;
  width: 100%;
}

.lesson-info__btn {
  margin: .5em 0;
}


.lesson-info__link {
  color: #333;
  font-weight: 400;
}

.lesson-info__link:hover {
  text-decoration: none;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  min-width: 390px;
}

.user-info__name {
  text-align: center;
  margin: .4em 0;
  font-family: "P22BayerW00-Universal";
  font-size: 2.6em;
  font-weight: 400;
}

.user-info__pic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #333333;
  width: 95%;
  height: 0;
  padding-bottom: 95%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}

.user-info__pic--img {
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
}

.user-info__practiced {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.user-info__primary {
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 1.7em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
  width: 75%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
}

.user-info__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  padding: 2em 1em;
  box-sizing: border-box;
  width: 75%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
}

.user-info__stats--label {
  padding-bottom: 1em;
  text-align: center;
}

.title {
  padding-bottom: .4em;
  font-family: "P22BayerW00-Universal";
  font-size: 3em;
  margin: 0 auto;
  color: #0061FF;
  font-weight: 400;
}


@media screen and (max-width: 1000px) {
  .lesson-info {
    min-width: 450px;
  }
}

@media screen and (max-width: 450px) {
  .dashboard_main {
    min-width: 100%;
    margin: 0;
    padding: 0;
  }

  .lesson-info {
    min-width: 100%;
  }

  .user-info {
    min-width: 100%;
  }

}
