.home__main {
  max-width: 90%;
  background-color: rgb(66, 255, 220, .5);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 1em .3em;
  margin: 2em;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 1.5em 0;
}

.section__button {
  align-self: center;
  box-sizing: border-box;
  margin: .8em;
  padding: .2em .3em;
}

.section__button--text {
  color: #42ffdc;
  text-decoration: none;
}

.section__description {
  display: flex;
  flex-direction: column;
  padding: 1.5em 3em;
  width: 25em;
}

.section__description--content {
  padding-top: 2em;
}

.section__header {
  font-family: "Rubik";
  font-style: italic;
}

.section__svg {
  width: 18em;
  height: 100%;
  padding: 1em;
}
