
.user-info__stats--number {
  margin: .5em;
  font-size: 4em;
}

.stats__container {
  min-width: 160px;
  max-width: 250px;
  box-sizing: border-box;
  margin: 1.6em;
  height: 250px;
  font-size: 1em;
}

.stats-main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
}

.stats-main__stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  padding: 0;
  width: 100%;
}

.stats-main__logs {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  width: 60%;
}

.logs__container {
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2.5em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 1.8em 0;
  width: 75%;
  min-width: 390px;
}

.logs__container--inner {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  box-sizing: border-box;
  margin-bottom: .5em;
  max-height: 400px;
  border-radius: 7px;
  border: 2px solid #333;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.7);
}

.logs__title {
  text-align: center;
  padding: 0 0 .9em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0061ff;
  border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

@media screen and (max-width: 1673px) {
  .stats-main__stats {
    width: 75%
  }
}

@media screen and (max-width: 1338px) {
  .stats-main__stats {
    width: 100%
  }
}

@media screen and (max-width: 525px) {
  .logs__container {
    width: 90%;
    min-width: 90%;
  }

  .stats-main__logs {
    width: 100%;
  }
}

@media screen and (max-width: 525px) {
  .logs__container {
    padding: 2em;
  }
}
