.message__date {
  color: #333333;
  font-size: .9em;
  font-weight: 300;
  /* text-align: right; */
  padding-right: .2em;
}

.message {
  color: #333333;
  /* font-family: "Lora"; */
  padding: .7em 0 .5em;
  /* font-style: italic; */
  font-size: 1.1em;
  font-weight: 400;
}

.message__container {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 1.4em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
