.all-students {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 1.5em;
}

.student-link {
  text-decoration: none;
  color: #0061FF;
}

.student-sort{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  width: 100%;
  flex-wrap: wrap;
}

.student-sort span, .student-sort div {
  padding: 0.5em 0.2em 0.5em 0.6em;
}

@media screen and (max-width: 940px) {
  .student-link{
    width: 100%;
  }
}
