.all-students {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 1.5em;
}

.student-link {
  text-decoration: none;
  color: #0061FF;
}

@media screen and (max-width: 940px) {
  .student-link{
    width: 100%;
  }
}
