#assignment-submit {
  margin: .2em 0 .7em;
  align-self: flex-end;
  width: 3.5em;
}

.list {
  max-height: 375px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1em .4em 0 1em;
  border: 3px solid #333;
  background-color:rgba(255, 255, 255, 0.1);
}

.list p {
  padding-bottom: 1em;
}

#new-assignment {
  background-color:rgba(255, 255, 255, 0.7);
  height: 120px;
  resize: vertical;
  font-family: 'Rubik';
  font-size: 1.1em;
  color: #333;
  border-radius: 8px;
}

.send-assignment {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.student-data {
  width: 55%;
  min-width: 500px;
  margin-left: 1.5em;
}

.student-data__assignments,
.student-data__stats,
.student-data__lessons,
.student-data__log {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 1em 1em;
  max-width: 600px;
  margin: 0 auto;
}


.student-data__log--inner {
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-y: overlay;
  box-sizing: border-box;
  margin: .5em 0;
  max-height: 300px;
  width: 100%;
  border-radius: 8px;
  border: 3px solid #333;
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.7);
}

.student-data__title {
  color: #333;
  font-size: 2.5em;
  padding-top: .5em;
  margin: 0;
}

.student-data__stats-box {
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 8px;
  border: 3px solid #333;
  padding: 1em;
}

.student-data__stats-box p{
  font-weight: 500;
  font-size: 1.1em;
  color: #333;
}

.student-data__stats-box span {
  color: #0061FF;
  font-weight: 600;
  padding-left: .2em;
}

.indstudent-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  min-width: 390px;
}

.indstudent-info__pic {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #333333;
  width: 95%;
  height: 0;
  padding-bottom: 95%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.7);
}

.indstudent-info__pic--img {
  border-radius: 50%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
  position: absolute;
}

.indstudent-info__box{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  background-color: rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.indstudent-info__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 1em;
  flex-wrap: wrap;
}

.indstudent-info__contact-item span,
.indstudent-info__contact-item a {
  color: #333;
  text-align: left;
}

.indstudent-info__contact-item a:hover {
  color: black;
}

.indstudent-info__container{
  box-sizing: border-box;
  padding: 1.7em;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.student-name {
  font-size: 5em;
  padding: 0;
}

.user-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  position: relative;
}


@media screen and (max-width: 1143px) {
  .indstudent-info {
    min-width: 82%;
    width: 82%
  }

  .indstudent-info__container {
    width: 100%;
    flex-wrap: nowrap;
    margin: 2em 0;
    padding: 0;
  }

  .indstudent-info__pic {
    width: 25%;
    padding-bottom: 25%;
    margin: 0 2em;
  }

  .student-data__assignments,
  .student-data__stats,
  .student-data__lessons,
  .student-data__log,
  .student-data__log--inner {
    max-width: 100%;
    min-width: 0;
    width: 100%;
  }

  .student-data {
    width: 70%;
    margin: 0 auto;
  }

  .indstudent-info__contact {
    padding: 0;
  }
}

@media screen and (max-width: 940px) {
  .indstudent-info {
    width: 100%;
  }

  .send-assignment,
  .indstudent-info__container,
  .student-data {
    min-width: 80%;
    width: 80%
  }

  .student-data__assignments,
  .student-data__stats,
  .student-data__lessons,
  .student-data__log {
    padding: 0 0 1em;
  }
}

@media screen and (max-width: 850px) {

  .indstudent-info__pic {
    width: 25%;
    padding-bottom: 25%;
    margin: 0 1em;
  }

  .indstudent-info__contact {
    width: 65%;
  }

  .indstudent-info__container {
    justify-content: space-between;
    min-width: 90%;
    width: 90%
  }
}

@media screen and (max-width: 700px) {
  .student-name {
    font-size: 4em;
  }

  .indstudent-info__container{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }

  .send-assignment,
  .student-data {
    min-width: 90%;
    width: 90%
  }
}

@media screen and (max-width: 600px) {
  .indstudent-info__box {
    margin: 2em;
  }

  .indstudent-info__pic {
    width: 20%;
    padding-bottom: 20%;
  }

  .indstudent-info__contact {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .send-assignment,
  .student-data {
    min-width: 100%;
    width: 100%
  }

  .indstudent-info__container {
    flex-direction: column;
    margin-top: .5em;
  }

  .indstudent-info__contact {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .indstudent-info__pic {
    width: 35%;
    padding-bottom: 35%;
    margin: 1em;
  }

  .student-name {
    font-size: 3em;
  }


}

@media screen and (max-width: 350px) {
  .indstudent-info__contact-item {
    font-weight: 500;
    font-size: 1em;
  }
}
