.checkbox__container {
  margin: .5em 0;
  background-color: rgba(255, 106, 106, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  border: 3px solid black;
  width: 100%;
  max-width: 250px;
  min-width: 237px;
}

.checkbox__container:hover {
  background-color: rgb(255, 79, 79);
}

.checkbox__text {
  color: black;
  text-align: center;
  padding: 1em;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
}

.checkbox__button {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.practiced {
  background-color: transparent;
  border: 3px solid #0061ff;
}

.practiced:hover {
  background-color: transparent;
}
