.default {
  text-decoration: none;
  color: #42ffdc;
  padding: 0 10px 5px;
  border-right: 4px solid transparent;
  transition: .2s;
}

.active {
  color: #36ff68;
  border-bottom: 4px solid #36ff88;
  border-right: 4px solid #36ff88;
  border-top: hidden;
  border-left: hidden;
  border-radius: 0 0 8px 0;
  border-top-right-radius: 0;
}

.btn__profile {
  background-color: transparent;
  border: none;
  outline: none;
}

.btn__profile--img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid #42ffdc;
}

.btn__profile--icon {
  font-size: 3.1em;
  color: #42ffdc;
  border: 3px solid #42ffdc;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 10px 10px 10px;
  width: 70px;
  height: 70px;
  background-color: #0061ff;
}

.btn__profile--icon:hover {
  background-color: #42ffdc;
  color: #0061ff;
}

.btn__profile-scrolled {
  border: 3px solid #0061ff;
}

.logo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 35%;
  margin: 0.5em 2em;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  max-height: 100%;
}

.logout {
  outline: none;
  border: none;
  background-color: transparent;
  width: 4em;
  font-family: "P22BayerW00-Universal";
  font-size: 1em;
  box-sizing: border-box;
  color: #42ffdc;
  text-align: center;
  cursor: pointer;
  border-right: 4px solid transparent;
  padding: 0 10px 5px;
  transition: .2s;
}

.logout:hover {
  color: #36ff68;
  transition: .2s;
}

.nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
  box-sizing: border-box;
  margin: 2em 1em 0 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.nav li {
  margin: 0 .2em;
  list-style-type: none;
  font-family: "P22BayerW00-Universal";
  font-size: 2.5em;
  box-sizing: border-box;
  text-align: center;
  flex-shrink: 1;
  flex-grow: 1;
}

.default:hover {
  color: #36ff68;
  transition: .2s;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 17em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
}

.active-scrolled {
  color: #0061FF;
  border-bottom: 4px solid #0061FF;
  border-right: 4px solid #0061FF;
}

.navbar-scrolled {
  background-image: linear-gradient(
    #42ffdc 11em,
    transparent 17em
    );
  transition: .1s;
}

.default-scrolled {
  color: #0061FF;
  transition: .1s;
}

.logout-scrolled {
  color: #0061FF;
  transition: .1s;
}
