.lesson__container {
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: .6em 1.4em;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2)
}

.lesson__container--date {
  color: #333333;
  font-weight: 500;
  font-size: 1.2em;
}

.lesson__container--modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lesson__container--time {
  color: #333333;
  font-size: 1.1em;
  font-weight: 300;
  padding-top: .2em;
}

.lesson__container--teacher {
  color: #333333;
  font-size: .8em;
  font-weight: 400;
  padding-top: .5em;
}
